<% include ../layouts/header.ejs %>

  <body style="overflow: show">
    <nav class="navbar navbar-expand-lg navbar-dark info-color-dark"> <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
      <div> <a class="navbar-brand" href="/"><img src="/icon.png" alt="" height="30" class="d-inline-block align-top"> Surface Suite for Classrooms</a> </div>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
              <li> <a class="nav-link active" href="/">Dashboard</a> </li>
              <li> <a class="nav-link" href="/dashboard/startgame">Start New Game</a> </li>
              <li> <a class="nav-link" href="/dashboard/definition">Definitions</a> </li>
        </ul>
      </div>
    </nav> <br>
    <div <%if (notification.length == 0) {%>class="animated fadeIn"<%}%>>
      <div class="row"><div class="col-sm-9"><h1 style="margin-left:15px; font-size:50px">Dashboard</h1></div><div class="col-sm-2"><% include ../layouts/notification.ejs%></div><div class="col-sm-1"></div></div>
      <div class="row">
        <div class="col-sm-6 offset-sm-1">
          <% include ./dashboard/table.ejs %>
        </div>
        <div class="card col-sm-4 offset-sm-0.5" style="min-height:80%">
          <br><canvas id="chartjs-bar" width="400" height="400"></canvas><br>
        </div>
      </div>
    </div>
    <% include ../layouts/footer.ejs %>
      <!--Charts-->
      <% include ./dashboard/charts.ejs %>
  </body>

  </html>
