<% include ../layouts/header.ejs %>

  <body style="overflow: hidden">
    <nav class="navbar navbar-expand-md navbar-dark info-color-dark"> <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button> <a class="navbar-brand" href="/">← Go Back</a> </nav>
    </br>
    <div class="row">
      <div class="container-fluid col-sm-3">
        <div class="card" style="width:400px"> <img class="card-img-top" src=https://www.w3schools.com/bootstrap4/img_avatar1.png alt="Card image">
          <div class="card-body">
            <h2 class="card-title text-capitalize"><%=first_name%> <%=last_name%></h4>
            <h4 class="card-text">Average Score: <%=score%></h4>
            <div class="row"> <button type="button" class="btn btn-danger col" data-toggle="modal" data-target="#deletionModal">Delete Student</button> </div>
          </div>
        </div>
      </div>
      <div class="card container-fluid col-sm-8"> <br>
        <canvas id="chartjs_line" style="width: 95%; height: 95%"></canvas><br> </div>
    </div>
    <!-- Edit Modal -->
    <% include ./showStudent/editModal.ejs %>
    <!-- Deletion Modal -->
    <% include ./showStudent/deleteModal.ejs %>
    <% include ../layouts/footer.ejs %>
    <!--Charts-->
    <% include ./showStudent/charts.ejs %>
  </body>

  </html>
