<% if (notification.length!=0) {%>
  <div class="alert alert-success alert-dismissible fade show" style="height:50px" role="alert">
    <button  type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%=notification[0]%>
  </div>
  <%}%>
