<% include ../layouts/header.ejs %>

  <body style="overflow: show">

    <div>
      <nav class="navbar navbar-expand-md navbar-light fixed-top deep-orange"> <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div> <a class="navbar-brand" href="/"><img src="/icon.png" alt="" height="30" class="d-inline-block align-top"> Surface Suite for Classrooms</a> </div>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <li class="nav-item">
                <li> <a class="nav-link active" href="/">Dashboard</a> </li>
                <li> <a class="nav-link" href="/startgame">Start New Game</a> </li>
          </ul>
        </div>
      </nav> <br>
      <h1 style="margin-left:15px">Dashboard</h1> <br>
      <div class="row">
        <div class="col-sm-6 offset-sm-1">
          <% include ../layouts/table.ejs %>
        </div>
        <div class="card col-sm-4 offset-sm-0.5" style="min-height:80%"><br><div id=lineChart></div><br></div>
      </div>
    </div>
    </div>
    <% include ../layouts/footer.ejs %>
      <!--Charts-->
      <script>
      var rows = <%-JSON.stringify(data)%>;
      var scores = [];
      rows.forEach(function(student) {
        if (JSON.parse(student.scores) != null)
        {
          scores.push(JSON.parse(student.scores));
        }

      });
      console.log(rows, scores);
      var chart = new Chartist.Line(document.getElementById('lineChart'), {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      series: scores
      }, {
      fullWidth: false,
      chartPadding: {
        right: 10
      },
      lineSmooth: Chartist.Interpolation.cardinal({
      fillHoles: true,
      }),
      high: 100,
      low: 0,
      axisY: {
        onlyInteger: true,
        offset: 20
      }
      });
      </script>
  </body>

  </html>
