<% if (notification.length!=0) {%>
  <div class="alert <%if (isNaN(notification[0])) {%> alert-danger <%} else {%> alert-success<%}%> alert-dismissible fade show" role="alert">
    <button  type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%if (notification[0]==100) {%>
      Definition added
    <%} else if (notification[0]==101){%>
      Definition removed
    <%} else if (notification[0]==200){%>
      Student added
    <%} else if (notification[0]==201){%>
      Student removed
    <%} else {%>
      Error: <%=notification[0]%>
    <%}%>
  </div>
  <%}%>
